streamlit>=1.24
streamlit-webrtc>=0.54.0
opencv-python-headless>=4.10.0
numpy
av==10.0.0
tensorflow==2.18.0        # or replace with tflite-runtime if you want smaller size
mediapipe
scikit-learn
tflite-runtime


